*{margin: 0;padding: 0;box-sizing: border-box; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
img{display: block; width: 100%; }
.cabecalho{ text-align: center;padding: 20px; text-transform: uppercase;}
.box-container-blue{height: 100vh; background-color: rgb(236, 236, 236);}
.box-principal-conteudo{ background-color: rgb(255, 255, 255); width: 500px;  margin: 0 auto; border-radius: 10px;box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.274);overflow: hidden; padding-bottom: 50px;}
.msg{  text-align: center; padding: 50px 0;}
.foto {text-align: center;}
.foodi{text-align: center; margin-top: 30px;}